@font-face {
  font-family: "Ubuntu";
  src: url("../../assets/fonts/Ubuntu-Light.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #0a0a30;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(53, 53, 65);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(96, 187, 247);
}

.loader {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100%;
  background-color: #0a0a30;
  z-index: 100;
}

.loader > img {
  width: 25%;
}

.cabezera {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 10vw;
  font-size: 1.2rem;
  font-weight: bold;
}

.cabezera > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.icon {
  padding-left: 1rem;
  cursor: pointer;
}

.icon:hover {
  height: 2rem;
}

.banner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: radial-gradient(
    circle at 50% 100%,
    rgb(107, 131, 255, 0.18) 0%,
    transparent 60%
  );
}

canvas {
  z-index: -1;
}

.panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
  z-index: 0;
}

.panel h1 {
  font-size: 3rem;
  font-weight: 100;
  color: #c0bdc4;
  margin: 0;
}

.panel span {
  font-weight: 500;
  color: #fff;
}

.panel h3 {
  font-weight: 100;
  font-size: 1rem;
  color: #ccc;
  margin: 0;
}

.button {
  text-decoration: none;
  color: #e2e2e2;
  border: thin solid #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 1em;
  padding: 0.5rem 1.25rem;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #de126a;
  border: thin solid #ffa4eb;
}

hr {
  background-image: linear-gradient(
    90deg,
    rgba(123, 42, 180, 1) 0%,
    rgba(222, 18, 106, 1) 100%
  );
  border: 0;
  height: 0.25rem;
  margin: 0;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 3rem 2.25rem;
  gap: 2.25rem;
}

main h2 {
  font-size: 2.074rem;
  font-weight: 500;
  color: #e4e4e4;
  margin: 0;
}

main p {
  font-size: 1.2rem;
  font-weight: 100;
  color: #b4b4b4;
  margin: 0;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card {
  width: 18.75rem;
  height: 12.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.44rem;
  font-weight: 400;
  cursor: pointer;
}

.card > img {
  width: 6.25rem;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 30, 94, 0.45);
  backdrop-filter: blur(8px);
}

.border {
  background: linear-gradient(
    45deg,
    rgba(222, 18, 106, 1) 0%,
    rgba(123, 42, 180, 1) 100%
  );
  padding: 0.25rem;
  border-radius: 16px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.35);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 50vw;
  padding: 3rem;
  border-radius: 16px;
  background-color: #10163b;
}

form > h2 {
  font-size: 1.44rem;
  font-weight: 200;
  color: #ced2ec;
  margin-bottom: 3rem;
}

.input-number {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-number label {
  font-size: 1rem;
  font-weight: 100;
  color: #9a9cb5;
}

.input-number input {
  outline: none;
  background-color: #0e1436;
  border: thin solid #332b62;
  border-radius: 5px;
  color: #666c8a;
  padding: 0.5rem 0.5rem;
}

.form button {
  align-self: stretch;
  background-color: #f23e78;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #ffe4ed;
  transition: background-color 300ms ease-in-out 50ms;
}

.form button:hover {
  color: #ffffff;
  background-color: #b42754;
}

.alert {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 0.5rem;
  background-color: rgba(255, 16, 87, 65%);
  align-self: stretch;
  text-align: center;
  color: #e3e3e3;
}
